.player {
    overflow: hidden;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: rgb(70, 70, 70);
    width: 50px;
    padding: 0px 8px;

    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;

    &>img {
        height: 35px;
        width: 35px;
        object-fit: cover;
        border-radius: 100%;
    }

    span {
        font-size: 16px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.player-activ {
    background-color: orange !important; 
}